Docs: Recommendation of compression, contrary to RFC 8725

The algorithm documentation says at the end of the [section on JSON Web Encryption](https://jose.authlib.org/en/guide/algorithms/#json-web-encryption):
> A DEF algorithm for the “zip” (compression) header parameter is also defined in RFC7518, which is recommended.

I don't see where this recommendation comes from. To the contrary,  [Sect. 3.6 of RFC 8725
"JSON Web Token Best Current Practices"](https://www.rfc-editor.org/rfc/rfc8725#section-3.6) is quite clear:

> 3.6. Avoid Compression of Encryption Inputs
>
> Compression of data SHOULD NOT be done before encryption, because such compressed data often reveals information about the plaintext.

[Sect. 2.4](https://www.rfc-editor.org/rfc/rfc8725#section-2.4) gives some reasons for this recommendation.

Strictly speaking, the "zip" header parameter and the value "DEF" are defined in [Sect. 4.1.3 of RFC 7516](https://www.rfc-editor.org/rfc/rfc7516#section-4.1.3) (_not_ RFC 7518 that "only" defines the [JSON Web Encryption Compression Algorithms Registry](https://www.rfc-editor.org/rfc/rfc7518#section-7.3)). Implementations MUST understand and process this parameter, but its use is optional.

There may be use cases where the issues mentioned in [Sect. 2.4 of RFC 8725](https://www.rfc-editor.org/rfc/rfc8725#section-2.4) do not apply. However, I am afraid the documentation might mislead developers into compressing their encryption input without giving thoughts to the compression side channel.

You're right. I've used chatgpt to improve the documentation. There may be things added by the AI. I'll review all the docs.